<div class= "madera">
<div class="row" >



  <div class="row">
      <div class="large-12 columns">
        <div class="submit_beer-title">
          <h3>Submit a New Beer</h3></div>
          <div class="row">

        <div class="card">

    <%= form_for [@beer] do |f| %>
        <% if @beer.errors.present? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label :description , "When did you try it?"%>
    <%= f.text_field :description %>
  </div>

  <div class='field'>
    <%= f.label :brewery %>
    <%= f.text_field :brewery %>
  </div>

  <div class='field'>
    <%= f.label :style %>
    <%= f.text_field :style %>
  </div>

  <div class='field'>
    <%= f.label :url, "Image URL" %>
    <%= f.text_field :url%>
  </div>

  <div class='field'>
    <%= f.submit value="Add this Beer to the List" %>
  </div>
</div>

<% end %>


<div class="beer_list_header">
  <h3>List of Reviewed Beers</h3>
<div class="cartota">
<div class="large-12 columns">

  <% @beers.each do |beer| %>
  <a href="beers/<%=beer.id%>"><img src="<%=beer.url%>" width=150 height=150 %></a></p>

  <% end %>
</div>
</div>




<!-- <div class="row">
<div class="columns small-4">Hello world</div> <div class= "small-8">Hola mundo</div>

<%= link_to beer.name, beer

</div> -->

<!-- <html>
  <head>
  <style>
  body {
    background-color: black;
    font-family:Arial;


  }
  </style>
</head>
<body>
</html>

<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <h1>My Beer Log</h1>
  </nav>
</div>


<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Beers</a></li>
  <li class="unavailable"><a href="#">Styles</a></li>
  <li class="current"><a href="#">Breweries</a></li>
</ul>
