<h1 class="mybeerguide-title">My Beer Guide</h1>


<div class="beer_list_header">
  <h2>Beer List:</h2>
  <div class="beer-list small-9 columns small-centered large-10">
    <% @beers.each do |beer| %>
        <p class='animated slideInLeft beer-box'><%= link_to beer.name, beer %></p>

    <% end %>
  </div>
</div>

<h1>Submit a new Beer</h1>
<%= form_for [@beer] do |f| %>
  <% if @beer.errors.present? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class='field'>
    <%= f.label :brewery %>
    <%= f.text_field :brewery %>
  </div>

  <div class='field'>
    <%= f.label :style %>
    <%= f.text_field :style %>
  </div>

  <div class='field'>
    <%= f.label :url %>
    <%= f.text_field :url%>
  </div>

  <div class='field'>
    <%= f.submit value="Add this Beer to the List" %>
  </div>

<% end %>


<!-- <div class="row">
<div class="columns small-4">Hello world</div> <div class= "small-8">Hola mundo</div>
</div> -->

<!-- <html>
  <head>
  <style>
  body {
    background-color: black;
    font-family:Arial;


  }
  </style>
</head>
<body>
</html>

<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <h1>My Beer Log</h1>
  </nav>
</div>


<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Beers</a></li>
  <li class="unavailable"><a href="#">Styles</a></li>
  <li class="current"><a href="#">Breweries</a></li>
</ul>
