
<div class="row">
    <div class="small-9 columns">
      <div class="card">
          <div class="beer-details">
            <h2><%= @beer.name %></h2>
            <div class="beer-description">
              <h4>Description: <%= @beer.description %></h3>
            </div>
            <div class="beer-brewery">
    <h4>Brewery: <%= @beer.brewery %></h4>
    </div>
    <div class="beer-style">
      <h4>Style: <%= @beer.style %></h4>
      </div>
      <div class="beer-url">
    <h4>Url: <%= @beer.url %></h4>
  </div>
</div>


</div>

<div id="react" data-currentuser='<%= current_user.to_json %>' />
