<div class="beer-details">
  <h1><%= @beer.name %></h1>
  <div class="beer-description">
    <h3>Description: <%= @beer.description %></h3>
  </div>
  <div class="beer-brewery">
    <h3>Brewery: <%= @beer.brewery %></h3>
  </div>
  <div class="beer-style">
    <h3>Style: <%= @beer.style %></h3>
  </div>
  <div class="beer-url">
    <h3>Url: <%= @beer.url %></h3>
  </div>


</div>

<div id="react" data-currentuser='<%= current_user.to_json %>' />
