
<div class="row">
    <div class="large-12 columns">


          <div class="beer-details">
                <div class="card">
            <h3><%= @beer.name %></h3>
            <div class="beer-description">
              <h5>Description: <%= @beer.description %></h5>
            </div>
            <div class="beer-brewery">
    <h5>Brewery: <%= @beer.brewery %></h5>
    </div>
    <div class="beer-style">
      <h5>Style: <%= @beer.style %></h5>
      </div>
      <div class="beer-url">
    <img src="<%= @beer.url %>" width=150 height=150/>

    <%= link_to "Add to Favorites", beer_favorites_path(@beer, current_user), :method => :post, class: "button success" %>
  </div>
</div>


</div>

<div id="react" data-currentuser='<%= current_user.to_json %>' />
