<div class="madera">
<div class="row">
    <div class="large-12 columns">

<div>
  <h3 class="beer"> Beer Details </h3>
</div>
          <div class="beer-details">
                <div class="carta">
            <div class ="beername"> <h4><%= @beer.name %></h4> </div>
            <div class="beer-description">
              <h5>Description: <%= @beer.description %></h5>
            </div>
            <div class="beer-brewery">
    <h5>Brewery: <%= @beer.brewery %></h5>
    </div>
    <div class="beer-style">
      <h5>Style: <%= @beer.style %></h5>
      </div>
      <div class="beer-url">
    <img src="<%= @beer.url %>" width=150 height=150/>

      <%= link_to "Add to Favorites", beer_favorites_path(@beer, current_user), :method => :post, data: {confirm: "Added to your Fridge!"} %>
    </div>
</div>


</div>

<div>
  <h3 class="review"> Reviews </h3>
    <div id="react" data-currentuser='<%= current_user.to_json %>'>
  </div>
</div>
